<?xml version="1.0"?>
<robot name="atr_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- atr -->

  <xacro:arg name="type" default="automower"/>
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find atr_description)/urdf/$(arg type).urdf.xacro" />

  

  <!-- arm -->
  <xacro:atr_robot prefix="$(arg prefix)"/>

  <link name="world" />
  <joint name="$(arg prefix)base_link_joint" type="fixed">
      <origin xyz="0 0 0.125" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="$(arg prefix)base_link"/>
    </joint>

</robot>